<mat-card class="home mat-elevation-z3">
  <mat-card-title class="title"> Bem Vindo! </mat-card-title>
  <mat-card-subtitle class="subtitle">
    Sistema um corretor de imóveis
  </mat-card-subtitle>
</mat-card>
<br />
<mat-card class="home mat-elevation-z3">
  <mat-card-subtitle class="subtitle">
    Dados de Compra e vendas de imóveis
  </mat-card-subtitle>
  <div class="line">
    <app-line></app-line>
  </div>
</mat-card>

<br />
<mat-card class="home mat-elevation-z3">
  <mat-card-subtitle class="subtitle"> Dados de Cadrastros </mat-card-subtitle>
  <div class="pie">
  <app-pie></app-pie>
</div>
</mat-card>
