<mat-card>
  <mat-card-title>Alterar Usuário</mat-card-title>
  <form>
    <mat-form-field>
      <input
        matInput
        placeholder="description"
        [(ngModel)]="property.description"
        name="description"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="value"
        [(ngModel)]="property.value"
        name="value"
      />
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="updateProperty()" color="primary">
    Salvar
  </button>

  <button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>
